/* Mixins */
.wrapper {
  margin: 4% auto;
  text-align: center;
}
/* bg shortcodes */
.bg-gradient1 button,
.bg-gradient1:before {
  background: #fa7e29;
  background: linear-gradient(180deg, #fa7e29 0%, #f6682f 80%, #f6682f 100%);
}

.bg-gradient2 button,
.bg-gradient2:before {
  background: #39c2c9;
  background: linear-gradient(180deg, #39c2c9 0%, #3fc8c9 80%, #3fc8c9 100%);
}

h3 {
  color: #666a73;
  font-weight: 300;
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

/* fancy Button */
.fancy-button button {
  display: inline-block;
  margin: 10px;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}
.fancy-button.bg-gradient1 {
  text-shadow: 0px 0px 1px #bf4c28;
}
.fancy-button.bg-gradient2 {
  text-shadow: 0px 0px 1px #227270;
}

.fancy-button:before {
  content: '';
  display: inline-block;
  height: 40px;
  position: absolute;
  bottom: -1px;

  z-index: -1;
  border-radius: 2em;
  filter: blur(14px) brightness(0.9);
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button button i {
  margin-top: -2px;
  font-size: 1.265em;
  vertical-align: middle;
}
.fancy-button button {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 50em;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button:focus {
  color: #ffffff;
}
.fancy-button:hover {
  color: #ffffff;
}
.fancy-button:hover button {
  filter: brightness(0.9) contrast(1.2);
  transform: scale(0.96);
}
.fancy-button:hover:before {
  bottom: 3px;
  filter: blur(6px) brightness(0.8);
}
.fancy-button:active button {
  filter: brightness(0.75) contrast(1.7);
}
.fancy-button.pop-onhover button {
  border-radius: 4px;
}
.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}
.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  filter: blur(16px);
}
.fancy-button.pop-onhover:hover button {
  transform: scale(1);
}
.fancy-button.pop-onhover:hover:active button {
  filter: brightness(1) contrast(1);
  transform: scale(1);
  transition: all 0.2s ease-out;
}
.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  filter: blur(5px) brightness(0.85);
  transition: all 0.2s ease-out;
}

.PM {
  font-weight: 800;
}
div .PM {
  font-size: 1.5em;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
.barCart {
  margin-left: 7rem;
  font-size: x-large;
  font-weight: 600;
}

.Checkout {
  margin-right: 20rem;
}

.grid1 {
  width: 40%;
  float: left;
}

.grid2 {
  width: 60%;
  float: right;
}
